@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-react-aria-components";

@variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-geist-mono), "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    '"Liberation Mono"', '"Courier New"', "monospace";

  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono--font-feature-settings: "ss02", "zero";

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-fg: var(--primary-subtle-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-fg: var(--success-subtle-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-fg: var(--danger-subtle-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-fg: var(--warning-subtle-fg);

  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-fg: var(--info-subtle-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --bg: oklch(1 0 0);
  --fg: oklch(0.21 0.034 264.665);
  --primary: oklch(0.789 0.154 211.53);
  --primary-fg: oklch(0.302 0.056 229.695);
  --primary-subtle: oklch(0.789 0.154 211.53 / 0.2);
  --primary-subtle-fg: oklch(0.52 0.105 223.128);
  --secondary: oklch(0.928 0.006 264.531);
  --secondary-fg: oklch(0.13 0.028 261.692);
  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.13 0.028 261.692);
  --accent: oklch(0.928 0.006 264.531);
  --accent-fg: oklch(0.13 0.028 261.692);
  --accent-subtle: oklch(0.446 0.03 256.802 / 0.1);
  --accent-subtle-fg: oklch(0.373 0.034 259.733);
  --muted: oklch(0.967 0.003 264.542);
  --muted-fg: oklch(0.551 0.027 264.364);
  --success: oklch(0.6 0.118 184.704);
  --success-fg: oklch(1 0 0);
  --success-subtle: oklch(0.704 0.14 182.503 / 0.15);
  --success-subtle-fg: oklch(0.511 0.096 186.391);
  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(1 0 0);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);
  --warning: oklch(0.905 0.182 98.111);
  --warning-fg: oklch(0.286 0.066 53.813);
  --warning-subtle: oklch(0.852 0.199 91.936 / 0.2);
  --warning-subtle-fg: oklch(0.554 0.135 66.442);
  --danger: oklch(0.586 0.253 17.585);
  --danger-fg: oklch(1 0 0);
  --danger-subtle: oklch(0.645 0.246 16.439 / 0.15);
  --danger-subtle-fg: oklch(0.514 0.222 16.935);
  --border: oklch(0.912 0.01 258.338);
  --input: oklch(0.872 0.01 258.338);
  --ring: oklch(0.609 0.126 221.723);
  --navbar: oklch(0.995 0.002 247.839);
  --navbar-fg: oklch(0.13 0.028 261.692);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-fg: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.789 0.154 211.53 / 0.2);
  --sidebar-primary-fg: oklch(0.52 0.105 223.128);
  --sidebar-accent: oklch(0.928 0.006 264.531);
  --sidebar-accent-fg: oklch(0.13 0.028 261.692);
  --sidebar-border: oklch(0.902 0.01 258.338);
  --sidebar-ring: oklch(0.609 0.126 221.723);
  --chart-1: oklch(0.609 0.126 221.723);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.789 0.154 211.53);
  --chart-4: oklch(0.865 0.127 207.078);
  --chart-5: oklch(0.917 0.08 205.041);

  --radius-lg: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.25);
  --radius-sm: calc(var(--radius-lg) * 0.5);
  --radius-md: calc(var(--radius-lg) * 0.75);
  --radius-xl: calc(var(--radius-lg) * 1.5);
  --radius-2xl: calc(var(--radius-lg) * 2);
  --radius-3xl: calc(var(--radius-lg) * 3);
  --radius-4xl: calc(var(--radius-lg) * 4);
}

.dark {
  --bg: oklch(0.13 0.028 261.692);
  --fg: oklch(0.985 0.002 247.839);
  --primary: oklch(0.789 0.154 211.53);
  --primary-fg: oklch(0.302 0.056 229.695);
  --primary-subtle: oklch(0.789 0.154 211.53 / 0.1);
  --primary-subtle-fg: oklch(0.865 0.127 207.078);
  --secondary: oklch(0.248 0.033 256.848);
  --secondary-fg: oklch(0.985 0.002 247.839);
  --overlay: oklch(0.21 0.034 264.665);
  --overlay-fg: oklch(0.985 0.002 247.839);
  --accent: oklch(0.278 0.033 256.848);
  --accent-fg: oklch(0.985 0.002 247.839);
  --accent-subtle: oklch(0.446 0.03 256.802 / 0.1);
  --accent-subtle-fg: oklch(0.707 0.022 261.325);
  --muted: oklch(0.21 0.034 264.665);
  --muted-fg: oklch(0.707 0.022 261.325);
  --success: oklch(0.6 0.118 184.704);
  --success-fg: oklch(1 0 0);
  --success-subtle: oklch(0.704 0.14 182.503 / 0.1);
  --success-subtle-fg: oklch(0.855 0.138 181.071);
  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(1 0 0);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);
  --warning: oklch(0.905 0.182 98.111);
  --warning-fg: oklch(0.286 0.066 53.813);
  --warning-subtle: oklch(0.852 0.199 91.936 / 0.1);
  --warning-subtle-fg: oklch(0.905 0.182 98.111);
  --danger: oklch(0.586 0.253 17.585);
  --danger-fg: oklch(1 0 0);
  --danger-subtle: oklch(0.645 0.246 16.439 / 0.1);
  --danger-subtle-fg: oklch(0.712 0.194 13.428);
  --border: oklch(0.273 0.034 259.733);
  --input: oklch(0.313 0.034 259.733);
  --ring: oklch(0.609 0.126 221.723);
  --navbar: oklch(0.19 0.034 264.665);
  --navbar-fg: oklch(0.985 0.002 247.839);
  --sidebar: oklch(0.18 0.034 264.665);
  --sidebar-fg: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.789 0.154 211.53 / 0.1);
  --sidebar-primary-fg: oklch(0.865 0.127 207.078);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-fg: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(0.278 0.033 256.848);
  --sidebar-ring: oklch(0.609 0.126 221.723);
  --chart-1: oklch(0.52 0.105 223.128);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.789 0.154 211.53);
  --chart-4: oklch(0.865 0.127 207.078);
  --chart-5: oklch(0.917 0.08 205.041);
}

@utility touch-target {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
}

@layer base {
  * {
    text-rendering: optimizeLegibility;
    /*
     * Scrollbar
     */
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid var(--primary);
  transform: translateZ(0);
}
