---
import Layout from "../../layouts/Page.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import LatestPosts from "../../components/LatestPosts.astro";
import { Image } from "astro:assets";
import heroImage from "../../../public/placeholder-social.jpg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Image
    width={668}
    src={heroImage}
    alt=""
  />
  <h1>{SITE_TITLE}</h1>
  <p>
    Bienvenido to my Journal Blog where you can find my learnings and follow all my goals that I
    setup. To know more about me or the blog goals, read <a href="/blog">the about page</a> or if
    you are interested to know how my blog is build go to my <a href="https://github.com/Afsoon/what-said-said" target="_blank">Github</a>
  </p>
  <p>
    My current objetives are:
    <ul>
      <li>
        Pass CKAD Exam
      </li>
      <li>
        Sharpen my Typescript skills explaining the solutions you can find in TotalTypescript Discord.
      </li>
    </ul>
  </p>
  <LatestPosts />
</Layout>
